.products
    &-showcase
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &__item
            height: 298px
            width: calc((100% - 90px) / 4)
            border: 1px solid black
        &__item--banner
        &__item--popular
            background: #000
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            &-title
                margin-top: 29px
                color: #fff
                font-size: 18px
                font-weight: 700
                text-transform: uppercase
            &-more
                margin-top: 50px
                font-size: 14px
                color: #fff
                display: flex
                justify-content: center
                align-items: center
                img
                    padding-left: 7px
                    height: 14px
                    width: 10px